#fg, #bg {
    margin: auto;
    padding: 0;
    display: block;
}

#splash {
    position: fixed;
    color: white;
    font-family: monospace;
    width: 640px;
    text-align: center;
    margin-top: 180px;
}

html {
    background-color: black;
}

canvas {
    position: fixed;
    border: 1px white;
}

#scoreboard {
    position: fixed;
    background: black;
    padding: 15px;
}

span {
    color: white;
    font-family: monospace;
    font-size: 15px;
}
